{
    "swagger": "2.0",
    "info": {
        "title": "Sample API",
        "contact": {
            "name": "Sri Wardani",
            "url": "https://uph.edu"
        },
        "version": "1.0"
    },
    "host": "webservice.app",
    "basePath": "",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api/v1/login": {
            "post": {
                "tags": [
                    "login"
                ],
                "summary": "User Login",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Users Token.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/dosen": {
            "get": {
                "tags": [
                    "Dosen"
                ],
                "summary": "Retrieves the collection of MediaFile resources.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Dosen collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/dosen"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Dosen"
                ],
                "summary": "Data Dosen",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Users Token.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/dosen/{id}": {
            "delete": {
                "tags": [
                    "Dosen"
                ],
                "summary": "Removes the Dosen resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Dosen resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/fakultas": {
            "get": {
                "tags": [
                    "Fakultas"
                ],
                "summary": "Retrieves the collection of MediaFile resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fakultas collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/fakultas"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Fakultas"
                ],
                "summary": "Data fakultas",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "nama",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data fakultas.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/fakultas/{id}": {
            "delete": {
                "tags": [
                    "Fakultas"
                ],
                "summary": "Removes the Fakultas resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Fakultas resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/jadwal": {
            "get": {
                "tags": [
                    "Jadwal"
                ],
                "summary": "Retrieves the collection of MediaFile resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "jadwal collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/jadwal"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Jadwal"
                ],
                "summary": "Data jadwal",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "semester",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "hari",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_jurusan",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_dosen",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_kelas",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_jam",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_matakuliah",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data jadwal.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/jadwal/{id}": {
            "delete": {
                "tags": [
                    "Jadwal"
                ],
                "summary": "Removes the Jadwal resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Jadwal resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/jurusan": {
            "get": {
                "tags": [
                    "Jurusan"
                ],
                "summary": "Retrieves the collection of Jurusan resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Jurusan collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/jurusan"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Jurusan"
                ],
                "summary": "Data jurusan",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "nama",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_fakultas",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data jurusan.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/jurusan/{id}": {
            "delete": {
                "tags": [
                    "Jurusan"
                ],
                "summary": "Removes the Jurusan resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Jurusan resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/mahasiswa": {
            "get": {
                "tags": [
                    "mahasiswa"
                ],
                "summary": "Retrieves the collection of Mahasiswa resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mahasiswa collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/mahasiswa"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Mahasiswa"
                ],
                "summary": "Data Mahasiswa",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "nama",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tempat_lahir",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tanggal_lahir",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "alamat",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tahun",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_fakultas",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_jurusan",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data Mahasiswa.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/mahasiswa/{id}": {
            "delete": {
                "tags": [
                    "Mahasiswa"
                ],
                "summary": "Removes the Mahasiswa resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Mahasiswa resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/matakuliah": {
            "get": {
                "tags": [
                    "Matakuliah"
                ],
                "summary": "Retrieves the collection of Mata Kuliah resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matakuliah collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/matakuliah"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Matakuliah"
                ],
                "summary": "Data Matakuliah",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "nama",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sks",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data Matakuliah.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/matakuliah/{id}": {
            "delete": {
                "tags": [
                    "Matakuliah"
                ],
                "summary": "Removes the Matakuliah resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Mata Kuliah resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/mediafiles": {
            "get": {
                "tags": [
                    "mediafiles"
                ],
                "summary": "Retrieves the collection of MediaFile resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mediafiles collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/mediafile"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/mediafiles/{id}": {
            "delete": {
                "tags": [
                    "mediafiles"
                ],
                "summary": "Removes the mediafile resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Mediafile resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/kelas": {
            "get": {
                "tags": [
                    "Ruang"
                ],
                "summary": "Retrieves the collection of Ruang resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ruang collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/kelas"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Ruang"
                ],
                "summary": "Data Ruang",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "nama",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data Ruang.",
                        "schema": {
                            "property": "token",
                            "description": "Store a newly created resource in storage.",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/kelas/{id}": {
            "delete": {
                "tags": [
                    "Ruang"
                ],
                "summary": "Removes the Ruang resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ruang resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/admin": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Retrieves the collection of Admin resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admin collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/admin"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Data admin",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "nama",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tempat_lahir",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tanggal_lahir",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data admin.",
                        "schema": {
                            "property": "token",
                            "description": "Store a newly created resource in storage.",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/admin/{id}": {
            "delete": {
                "tags": [
                    "Admin"
                ],
                "summary": "Removes the Admin resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Mediafile resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/khs": {
            "get": {
                "tags": [
                    "KHS"
                ],
                "summary": "Retrieves the collection of KHS resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "KHS collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/khs"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "KHS"
                ],
                "summary": "Data khs",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "id_mahasiswa",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_matkul",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "absensi",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tugas",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uts",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uas",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "grade",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data KHS.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/khs/{id}": {
            "delete": {
                "tags": [
                    "KHS"
                ],
                "summary": "Removes the KHS resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "KHS resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/krs": {
            "get": {
                "tags": [
                    "KRS"
                ],
                "summary": "Retrieves the collection of KRS resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "krs collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/krs"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "KRS"
                ],
                "summary": "Data KRS",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "id_mahasiswa",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_matkul",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data KRS.",
                        "schema": {
                            "property": "token",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/krs/{id}": {
            "delete": {
                "tags": [
                    "KRS"
                ],
                "summary": "Removes the KRS resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "KRS resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/nilai": {
            "get": {
                "tags": [
                    "Nilai"
                ],
                "summary": "Retrieves the collection of Nilai resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nilai collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/nilai"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "Nilai"
                ],
                "summary": "Data Nilai",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "semester",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_dosen",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_matkul",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id_mahasiswa",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "absensi",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tugas",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uts",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uas",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "grade",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data Nilai.",
                        "schema": {
                            "property": "token",
                            "description": "Store a newly created resource in storage.",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/nilai/{id}": {
            "delete": {
                "tags": [
                    "Nilai"
                ],
                "summary": "Removes the Nilai resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Nilai resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        },
        "/api/v1/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Retrieves the collection of User resources.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Users collection.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/user"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Data user",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_level",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "profile_id",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data User.",
                        "schema": {
                            "property": "token",
                            "description": "Store a newly created resource in storage.",
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                }
            }
        },
        "/api/v1/user/{id}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Removes the User resource.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "User resource delete."
                    },
                    "401": {
                        "description": "Unauthorized Action."
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "mediafile": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "path": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "user": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "admin": {
            "properties": {
                "nama": {
                    "type": "string"
                },
                "tempat_lahir": {
                    "type": "string"
                },
                "tanggal_lahir": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "dosen": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "nama": {
                    "type": "string"
                },
                "tempat_lahir": {
                    "type": "string"
                },
                "tanggal_lahir": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "fakultas": {
            "properties": {
                "nama": {
                    "type": "string"
                }
            }
        },
        "jadwal": {
            "properties": {
                "nama": {
                    "type": "string"
                },
                "semester": {
                    "type": "string"
                },
                "hari": {
                    "type": "string"
                },
                "id_jurusan": {
                    "type": "integer"
                },
                "id_dosen": {
                    "type": "integer"
                },
                "id_jam": {
                    "type": "integer"
                },
                "id_matakuliah": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "jurusan": {
            "properties": {
                "nama": {
                    "type": "string"
                },
                "id_fakultas": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "kelas": {
            "properties": {
                "nama": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "khs": {
            "properties": {
                "nim": {
                    "type": "string"
                },
                "id_matkul": {
                    "type": "integer"
                },
                "absensi": {
                    "type": "string"
                },
                "tugas": {
                    "type": "string"
                },
                "uts": {
                    "type": "string"
                },
                "uas": {
                    "type": "string"
                },
                "grade": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "krs": {
            "properties": {
                "nim": {
                    "type": "string"
                },
                "id_matkul": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "mahasiswa": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "nama": {
                    "type": "string"
                },
                "tempat_lahir": {
                    "type": "string"
                },
                "tanggal_lahir": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                },
                "alamat": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "tahun": {
                    "type": "integer",
                    "format": "int32"
                },
                "id_fakultas": {
                    "type": "integer",
                    "format": "int32"
                },
                "id_jurusan": {
                    "type": "integer",
                    "format": "int32"
                },
                "image": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "matakuliah": {
            "properties": {
                "nama": {
                    "type": "string"
                },
                "sks": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        },
        "nilai": {
            "properties": {
                "semester": {
                    "type": "string"
                },
                "id_dosen": {
                    "type": "string"
                },
                "id_matkul": {
                    "type": "integer"
                },
                "id_mahasiswa": {
                    "type": "integer"
                },
                "absensi": {
                    "type": "string"
                },
                "tugas": {
                    "type": "string"
                },
                "uts": {
                    "type": "string"
                },
                "uas": {
                    "type": "string"
                },
                "grade": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "update_at": {
                    "type": "string"
                }
            }
        }
    }
}